:root {
    --fs-h2: ;
    --fs-h1: clamp(2rem, 1.842rem + 0.842vw, 2.6rem);
    --fs-h3: 1.5rem;
    /*24px*/
    /* --fs-p: 1rem; */
    --fs-p: clamp(0.8rem, 0.747rem + 0.281vw, 1rem);
    /*20px*/
    --fs-small:
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #00ffff;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

#cvPanel,
#portfolioPanel,
#contact,
nav {
    position: relative;
    background: rgba(0, 50, 100, 0.85);
    border: 2px solid #00ffff;
    box-shadow:
        0 0 30px rgba(0, 255, 255, 0.464),
        inset 0 0 20px rgba(0, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s;
}

#cvPanel,
#portfolioPanel,
#contact,
nav {
    will-change: opacity, transform;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*  Nav */
nav {
    z-index: 1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: none;
}

.nav-browser {
    display: flex;
    flex-direction: column;

    /* padding: 5px 5px; */
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.2) 0%, rgba(0, 100, 255, 0.1) 100%);
}

.tabs-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    padding: 5px 10px 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.tab {
    display: none;
    align-items: center;
    background-color: rgb(8, 39, 97);
    gap: 10px;
    text-decoration: none;
    color: #00ffff;
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    letter-spacing: 1px;
    justify-content: space-between;
    padding: 6px 16px;
}

.tab-mobile {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: rgb(8, 39, 97);
    gap: 10px;
    text-decoration: none;
    color: #00ffff;
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    letter-spacing: 1px;
    padding: 6px 16px;
}

.close-tab {
    margin-left: auto;
}

.active-tab {
    border-color: #00ffff;
    border-bottom: 3px solid #00ffff;
    border-width: 3px;
}

.tabs-menu {
    display: inline-block;
    color: #00ffff;
    background-color: rgb(8, 39, 97);
    border: 1px solid #00ffff;
    border-radius: 6px 6px 0px 0px;
    border-bottom: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.tabs-dropdown {
    display: block;
    position: absolute;
    top: calc(100% + 2px);
    left: -2px;
    right: -2px;
    background: rgba(4, 20, 50, 1);
    box-shadow: 0 10px 30px rgba(0, 255, 255, 0.2);
    border: 1px solid #00ffff;
    border-top: none;
    border-radius: 0 0 10px 10px;
    animation: dropDown 0.2s ease;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    display: none;
}

.dropdown-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    gap: 10px;
    text-decoration: none;
    color: rgb(0, 255, 255);
    border-bottom: 1px solid rgba(0, 255, 255, 0.55);
}

.dropdown-tab:last-child {
    border-bottom: none;
}

.active-dropdown-tab {
    background: rgba(0, 255, 255, 0.3);
}

.download-link:visited,
a:visited {
    text-decoration: none;
}

.window-buttons-wrapper {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: auto;
}

.window-button {
    background: transparent;
    border: 1px solid #00ffff;
    border-radius: 6px;
    color: #00ffff;
    font-size: var(--fs-p);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0.3rem;
    margin-bottom: 5px;
}

.nav-separator {
    border: 1px solid #00ffff;
    width: 100%;
    margin: 0;
}

.adress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    gap: clamp(0.313rem, 0.066rem + 1.316vw, 1.25rem);
}

input[type=text] {
    background: transparent;
    border: 1px solid #00ffff;
    color: #00ffff;
    border-radius: 18px;
    height: 25px;
    font-size: 0.9rem;
    flex: 1;
    padding: 0px 20px;
    text-overflow: ellipsis;
    min-width: 0;
}

.nav-buttons {
    display: flex;
    gap: clamp(0.313rem, 0.197rem + 0.614vw, 0.75rem);
}

.nav-btn {
    background: transparent;
    border: 1px solid #00ffff;
    border-radius: 6px;
    color: #00ffff;
    font-size: var(--fs-p);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: min(2dvw, 0.3rem); */
    width: 25px;
    height: 25px;
}

/*  End Nav */

/* Content */
#cvPanel,
#portfolioPanel,
#contact {
    flex: 1;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    min-height: 0;
}

.browser-content {
    box-sizing: border-box;
    flex: 1;
    min-height: 0;
    padding: clamp(0.938rem, 0.691rem + 1.316vw, 1.875rem);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

/*Scroll bar style*/

.browser-content::-webkit-scrollbar {
    width: 8px;
}

.browser-content::-webkit-scrollbar-track {
    background: rgba(0, 255, 255, 0.1);
    border-radius: 10px;
}

.browser-content::-webkit-scrollbar-thumb {
    background: #00ffff;
    border-radius: 10px;
}

.content-section {
    margin-bottom: 40px;
    background: rgba(8, 39, 97, 0.692);
    border: 2px solid #00ffff;
    border-radius: 8px;
    position: relative;
}

.content-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #00ffff, rgb(0, 183, 255), #00ffff);
    border-radius: 8px;
    z-index: -1;
}

/* Contact */
#contact .browser-content {
    display: flex;
    flex-direction: column;
}

#contact .content-section {
    flex: 1;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.contact-header {
    letter-spacing: 1px;
    color: #00ffff;
    text-align: center;
    padding: 30px;
    padding-bottom: clamp(0rem, -0.493rem + 2.632vw, 1.875rem);
    position: relative;
}

.contact-header h1 {
    font-size: var(--fs-h1);
    margin: clamp(0rem, -0.461rem + 2.456vw, 1.75rem);
    margin-bottom: clamp(0rem, -0.822rem + 4.386vw, 3.125rem);
    /* margin-bottom: 50px; */
}

.contact-header p {
    font-size: var(--fs-p);
}

.contact-grid {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(500px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0px 30px 30px 30px;
    /* overflow: hidden;  */
}

.contact-grid a {
    text-decoration: none;
}

.contact-item {
    letter-spacing: 1px;
    color: #00ffff;
    text-align: center;
    border: 1px solid #00ffff;
    border-radius: 12px;
    padding: 50px 30px 50px 30px;
}

.contact-item p {
    word-break: break-all;
    margin-bottom: 0px;
    font-size: var(--fs-p);
}

.contact-item h3 {
    font-size: var(--fs-h3);
}

/* End Contact */


/* Media Queries */
@media (min-width: 800px) {
    .window-buttons-wrapper {
        display: flex;
    }
}

@media (min-width: 600px) {
    .tabs-row{
        gap: 5px;
    }
    
    .tab-mobile {
        display: none;
    }

    .tabs-menu {
        display: none;
    }

    .tab {
        display: flex;
    }

}

/*Only devices that can hover*/
@media (hover: hover) {

    /*  Nav */
    .tab:hover {
        background: rgba(0, 255, 255, 0.508);
        border-radius: 8px 8px 8px 8px;
        color: rgb(8, 39, 97);
    }

    .dropdown-tab:hover {
        background: rgba(0, 255, 255, 0.3);
    }

    .tabs-menu:hover {
        background: rgba(0, 255, 255, 0.4);
    }

    /*  End Nav */

    .browser-content::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 255, 255, 0.8);
    }

    .cv-icons:hover {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
    }

    .project-link:hover {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
    }

    .contact-item:hover {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
    }
}